<section class="landing-page-container">
  <div class="heading">
    <h1>Oops! This page doesn't exist!</h1>
    <h2>404 - PAGE NOT FOUND</h2>
    <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <%= link_to 'Go back to homepage', root_path, class: 'submit' %>
  </div>

  <div class="landing-image">
    <%= render_svg('error404_img.svg') %>
  </div>
</section>