<section class="landing-page-container">
  <div class="heading">
    <h1><span>Planning</span> Made Easier</h1>
    <p>Organize your tasks, achieve your goals. Start with us now!</p>
    <%= link_to 'Create an Account', new_user_registration_path, class: 'submit' %>
    <%= link_to "Already have an account? Click to Log in", new_user_session_path, class: "devise-shared-links" %>
  </div>

  <div class="landing-image">
    <%= render_svg('landing_img.svg') %>
  </div>
</section>