/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


 *,
 *::before,
 *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

@mixin flex-col-center{
  @include flex-col;
  align-items: center;
}

@mixin flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-row-between{
  @include flex-row;
  justify-content: space-between
}

@mixin flex-row-even{
  @include flex-row;
  justify-content: space-evenly;
}

@mixin card-border-shadow{
  // box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: white;
}

@mixin action-btn($bg) {
  color: white;
  text-decoration: none;
  padding:5px 10px;
  border-radius:3px;
  font-family: inherit;
  font-size: 1.1rem;
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    color: white;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

@mixin border-light{
  border-bottom: 1px solid rgba(221, 221, 221, 0.671);
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  // overflow-y: scroll;
}

body{
  background-color: rgb(249, 252, 255);
  width: 100%;
  @include flex-col-center();

  // >nav{
  //   background-color: burlywood;
  //   height: 100vh;
  //   position: fixed;
  //   width: 20rem;
  // }

  >main{
    width: 80%;
  }
}

a, a:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button{
  color: white;
  text-decoration: none;
  padding:5px 10px;
  border-radius:3px;
  font-family: inherit;
  font-size: 0.8rem;
}

.container-planner{
  @include flex-col;
  // background-color: blanchedalmond;
  width: 100%;
  padding: 3vw;
  >.container-header-section{
    width: 100%;
    // background-color: blueviolet;
    @include flex-row-between;
    >*{
      width: 60%;
    }
    >*:not(:first-child){
      width: 30%;
    }
    >.container-header-stats{
      
      @include flex-col;
      margin-bottom: 3rem;
      

      >.container-header-label{
        @include flex-row-between();
        margin-bottom: 1rem;

        >.add-category-container{
          @include flex-row();
          flex-direction: row-reverse;
        }
      }

      >.container-header-label >h1{
        font-size: 2.5rem;
        font-weight: 700;
      }
    
      >.container-header-label >h2{
        font-size: 2rem;
      }
    }
    >.container-header-stats >.sub-container-header-stats::-webkit-scrollbar {
      display: none;
    }

    >.container-header-stats >.sub-container-header-stats{
      width: 100%;
      height: calc( (70vw/5) + 4rem );
      padding: 1rem;
      @include card-border-shadow;
      overflow-y: scroll;

      >*:not(:last-child){
        @include border-light();
      }

      

      >h1{
        font-size: 3rem;
        font-weight: 500;
      }
      >h4{
        font-size: 1rem;
        font-weight: 300;
      }
    }
    >.container-header-stats >.sub-container-header-stats >.category-card{
      width: 100%;
      padding: 1rem 1.5rem;
      @include flex-row-between();

      >.category-data{
        >h1{
          font-size: 1.7rem;
          font-weight: 500;
        }
        >h3{
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      >.category-data-actual{
        >h1{
          font-size: 4rem;
          font-weight: 500;
        }
      }
      

      >.category-action{
        @include flex-row;
        flex-direction: row-reverse;
        >.edit{
          margin-right: 1rem;
          @include action-btn(#2ecc71);
        }  
        >.delete{
          @include action-btn(#e74c3c);
        }
      }
    }
  }

  >.container-label{
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 3rem;
    >h1{
      font-size: 3.5rem;
      font-weight: 500;
    }
    >.container-sub-label{
      >h1{
        font-size: 3.5rem;
        font-weight: 500;
      }
      >h3{
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  >.container-label >h1{
    font-size: 2.5rem;
    font-weight: 700;
  }

  >.container-label >h2{
    font-size: 2rem;
  }

  >.container-stats{
    // background-color: khaki;
    padding: .5rem;
    @include flex-row-even;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  >.container-stats >.sub-container-stats{
    @include flex-col;
    @include card-border-shadow;
    width: calc(70vw/2);
    height: calc( (70vw/5) + 4rem );
    border-radius: 1rem;
    padding: 1rem;

    >h1{
      font-size: 3rem;
      font-weight: 500;
    }
    >h4{
      font-size: 1rem;
      font-weight: 300;
    }
  }

  >.sub-container-task_cards{
    @include card-border-shadow();
    border-radius: 1rem;
    
    >*:not(:last-child){
      position: relative;

    }
    >*:not(:last-child)::after{
      content: '';
      position: absolute;
      width: 96%;
      bottom: 0;
      left: 2%;
      @include border-light();
    }
  }

  >.sub-container-task_cards >.task-card-container{
    padding: 2rem 3rem;
  }
  >.sub-container-task_cards >.task-card-container >.card-details{
    @include flex-row-between();
    // background-color: violet;

    >*:not(:last-child){
      width: 50%;
    }

    >:last-child{
      flex-grow: 0.2;
    }

    >.card-details-important{
      // background-color: blue;
      @include flex-row;
      // flex-grow: .7;
      width: 35vw;

      >.status{
        width: 15%;
        font-size: 1rem;
        font-weight: 700;
      }
      >.task-data{
        padding-left: 3rem;
        >h1{
          font-size: 1.2rem;
          font-weight: 700;
        }

        >h4{
          font-size: .8rem;
          font-weight: 100;
        }
      }
    }

    >.category{
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
    }

    >.action-icon{
      @include flex-row;
      flex-direction: row-reverse;
      >.edit{
        margin-right: 1rem;
      }
      >.edit{
        @include action-btn(#2ecc71);
      }
      
      >.delete{
        @include action-btn(#e74c3c);
      }
    }
  }
}


.edit{
  @include action-btn(#2ecc71);
}

.delete{
  @include action-btn(#e74c3c);
}

.submit{
  border: none;
  @include action-btn(#3c6ae7);
}

form{
  @include flex-col();
  //input type text, date, 
  font-family: inherit;
  padding: 1rem;
  >*{
    margin-bottom: 1rem;
  }
  >label{
    font-family: inherit;
    font-size: 1.2rem;
  }

  >input,
  textarea,
  select{
    outline: none;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
  }

  >input[type="submit"]{
    font-family: inherit;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 1rem;
  }
}

#modal-content{
  max-width: 40rem;
}
#addCategoryModalTitle,
#editCategoryModalTitle,
#editTaskModalTitle,
#addTaskModalTitle{
  font-size: 1.8rem;
}